<header class="ptm-bar s72">
	<a class="ptm-pull-left" href="/"><span class="ptm-iconfont fa fa-home"></span></a>
	<div class="ptm-pull-left shu1">{$TDK.catename}</div>
	<a class="ptm-pull-right" href="javascript:;">
		<span class="ptm-iconfont fa fa-search"></span>
	</a>

	<div class="s73">
	<a id="translatelink" class="ptm-pull-left"  href="javascript:;" onclick="javascript:history.back();"><span class="ptm-iconfont fa fa-reply"></span></a>
	</div>
	<div class="s732 s7322">
	<a id="translatelink" style="color:#ffffff;line-height:15px;" href="{:U('/home/index/bookcase')}">书架</a>
	</div>
	<div class="s733">
	<a id="translatelink" style="color:#ed424b;line-height:15px;" href="{$catelist.top}" >排行</a>
	</div>


</header>